<html>
<head>
  <title>Hello Rack!</title>
  <link rel="stylesheet" href="application.css">
  <script type="text/javascript" src="application.js"></script>
  <script type="text/javascript" src="index.js"></script>
</head>
<body>
<img class="logo" src="<%= environment['rack.png'].logical_path %>"/>
<h1>Welcome</h1>
<h2>Features</h2>
<p>
  This is a rack-based web application bootstrap using:
<ul>
  <li>embedded ruby</li>
  <li>sprockets for asset management</li>
  <li>sassy css (scss)</li>
  <li>coffee-script</li>
  <li>RACK</li>
</ul>
</p>
<h2>Usage</h2>
<p>
  Can be used for single / multi page web apps.
</p>
</body>
</html>